<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{$basePath}/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="{$basePath}/bower_components/datatables.net-bs/css/dataTables.bootstrap.css">
	<link rel="stylesheet" href="{$basePath}/bower_components/datatables.net-dt/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="{$basePath}/css/style.css">

	<title>Zadanie</title>
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	{block scripts}
		{include "_scripts.latte"}
	{/block}
</body>
</html>
