parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no
		types:


services:
    - App\Model\BaseModel

    router: App\Router\RouterFactory::createRouter
